<h1>Hello, <%=@user.first_name.capitalize%>!</h1>
<a href="/users/<%=@user.id%>/edit">Edit Profile</a>

<h3>Subscriptions</h3>
($<%= @user.total_price_of_subscriptions %>/total)

<ul>
  <% if @user.channels %>
     <% @user.channels.each do |channel| %>
        <p><a href="/channels/<%=channel.id%>"><%= channel.callsign %></a> | <%= channel.name %> | $<%= channel.price_per_month%>/mo</p>
     <% end %>
  <% end %>
</ul>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Account</button>
</form>
